@media(pointer:coarse) {
    .reels-form {
        margin-top: 30px;
        width: 100vw;
    }

    .reels-name input {
        margin-bottom: 10px;
        background-color: black;
        height: 35px;
        color: white;
        width: 100%;
    }

    .reels-caption input {
        margin-bottom: 10px;
        background-color: black;
        height: 35px;
        color: white;
        width: 100%;
    }

    .reels-video input {
        margin-bottom: 10px;
        background-color: black;
        color: white;
        width: 100%;
    }

    .author {
        display: flex;
    }

    .author img {
        display: flex;
        border-radius: 100px;
        margin-right: 15px;
        width: 35px;
        height: 35px;
        margin-top: 5px;
    }

}

@media(pointer:fine) {}