/* Mobile UI */
@media (max-width: 768px) {
    .image-box {
        width: 100%;
        margin-bottom: 20px;
        background-color: black; 
        color: white; 
        overflow: hidden;
        padding: 10px;
        padding-bottom: 10px;
    }

    .author {
        display: flex;
    }

    .author img {
        border-radius: 100px;
        margin-right: 5px;
        width: 35px;
        height: 35px;
        margin-top: 5px;
    }

    .author p {
        margin-right: 10px;
    }


    .box-image {
        display: flex;
        position: relative;
        /* transform: translate(-45vw); */
        border-bottom: 1px solid white;
        overflow-x: scroll;
    }

    .box-content {
        padding-bottom: 10px;
    }

    img {
        width: 95%;
        border-radius: 15px;
        padding-right: 10px;
    }

    .box-header {
        display: flex;
    }

    .box-title {
        margin-right: auto;
    }
}

/* PC UI */
@media(pointer:fine) {
    .image-box {
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;

        .box-image {
            position: relative;
            /* transform: translate(-45vw); */
            img {
                width: 100%;
                border-radius: 20px;
                transition: 0.5s;

                &:hover {
                    cursor: pointer;
                    scale: 1.05;
                    transition: 0.5s;
                }
            }
        }

        .box-header {
            display: flex;

            .author {
                display: flex;
            }

            .author img {
                border-radius: 100px;
                margin-right: 5px;
                width: 35px;
                height: 35px;
                margin-top: 5px;
            }

            .author p {
                margin-right: 10px;
            }
        }
        .box-content {
            padding-bottom: 10px;
        }
    }

}