@media(pointer:coarse) {
    .footer {
        width: 100%;
        bottom: 0;
        left: 0;
        justify-content: space-around;
        display: flex;
        text-align: center;
        position: fixed;
        z-index: 999;
        // backdrop-filter: blur(2px);
        background-color: black;
    }

    .footer-content{
        font-size: small;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        scale: 0.9;
        /* margin-top: 20px; */
        // padding: 10px;
    }

    .footer-item:hover {
        cursor: pointer;
        transition: 0.5s;
    }
}

@media(pointer:fine) {
    .footer {
        display: none;
    }

}