:root{
    --offset:20px;
    --blue:#66b3ff;
    --darkgrey:#1f2023;
}
body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

.container{
    width: fit-content;
    height: fit-content;
    
}
.select-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    border: 1px solid grey; 
    border-radius: 5px;
    padding: var(--offset);  
    display: flex;
}

.select-wrapper.active{
    width: fit-content;
    height: fit-content;
    position: relative;
    border: 1px solid var(--blue); 
    border-radius: 5px;
    padding: var(--offset);  
    display: flex;
}

.select-wrapper:hover {
    border: 1px solid white;
}
.select-wrapper.active:hover {
    border: 1px solid var(--blue);
}



input {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    width: '90%'
}

.placeholder {
    position: absolute;
    z-index: 2;
    top: var(--offset);
    left: var(--offset);
    color: white;
    background-color: black;
    transition: 0.5s;
    pointer-events: none;
    transform :'translateY(0)';
}

.placeholder.active {
    position: absolute;
    z-index: 2;
    top: var(--offset);
    left: var(--offset);
    color: var(--blue);
    background-color: black;
    transition: 0.5s;
    transform: translateY(calc(-1 * (var(--offset) + 10px)));
}

.delete-button{
    position: absolute;
    top: var(--offset);
    right: calc(var(--offset)*2);
    border-radius: 100px;
    transition: 0.5s;
}
.delete-button:hover{
    cursor: pointer;
    background-color: grey;

}

.display-button{
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    border-radius: 100px;
    transition: 0.5s;
}

.display-button:hover{
    cursor: pointer;
    background-color: grey;
}

.option-list{
    height:200px;
    width:max-content;
    background-color: var(--darkgrey);
    color:white;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 99; 
}

.option{
    padding:var(--offset);
}
.option.active{
    background-color: grey;
}
.option:hover{
    cursor: pointer;
    background-color: grey;
}
.option.active:hover{
    cursor: pointer;
    background-color: grey;
}